@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #8cdcf1, #021734);
}

.Calculator {
    border: 1px solid #07679f;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
}

input {
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 50px;
    text-align: right;
    cursor: pointer;
}

input ::placeholder {
    color: #ffffff;
}

button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 25px;
    box-shadow: -8px -8px 15px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

button:hover {
    color: #ffffff;
    background-color: #093c53;
}

.equalBtn {
    background-color: #093c53;
}

.equalBtn:hover {
    background-color: #ffffff;
    color: #093c53;
}

.operator {
    color:rgb(197, 157, 92);
    /* color: #093c53; */
}

.operator:hover {
    color: #ffffff;
    background-color: #093c53;
}